body{
    background-color: rgb(230, 216, 216);
}

#app{
    margin-top: 10rem;
 background-color: white;
 border-radius: 10px;
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
 width: 40%;
 position: relative;
 left: 30%;
}

hr{
    width: 90%;
    position: relative;
    left: 5%;
}

input{
    border: none;
}

button{
    border-radius: 5px;
    border: 1px solid rgba(153, 153, 153, 0.626); 
    background-color: rgb(230, 216, 216);
}