body{
    background-color: rgb(230, 216, 216);
}

#app{
    margin-top: 10rem;
 background-color: white;
 border-radius: 10px;
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
 width: 60%;
 position: relative;
 left: 20%;
}

hr{
    width: 90%;
    position: relative;
    left: 5%;
}

input{
    border: none;
}